</head>
<link rel="stylesheet" href="css/style.css">
<style>
    /* CSS Reset */
    body{
        margin: 0px;
        padding: 0px;
        background: url('image/Azhar.jpg');
        
    }
</style>
<body>
        
</body>
</html>